<!-- Navbar Start -->
<div id="nav" class="w3-bar w3-card-4 w3-padding-16 w3-round-large w3-margin-top w3-white">
   <font style="font-family: 'Times New Roman', Times, serif">
    <a href="#" class="w3-bar-item w3-left w3-hide-large w3-hide-medium w3-button w3-border-right " onclick="opennav(), xanimation(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </a>
    <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-hover-green w3-border-right" style="font-size: 14px"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</a>
    <a href="{% url 'query_page' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-green w3-border-right" style="font-size: 14px"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;New Support Ticket</a>
    <a href="{% url 'status_page' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-green w3-border-right" style="font-size: 14px"><i class="fa fa-heartbeat" aria-hidden="true"></i>&nbsp;Check Ticket Status</a>
    <a href="{% url 'faq_page' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-green w3-border-right" style="font-size: 14px"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;F.A.Q</a>
    {% if user.is_authenticated %}
    <a href="javascript:{document.getElementById('logout').submit()}" class="w3-hide-small w3-right w3-button w3-hover-green w3-border-left w3-border-right w3-margin-right"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a>
    <form action="{% url 'logout' %}" method="POST" id="logout">
      {% csrf_token %}
      <input type="hidden">
    </form>
    <a href="#" class="w3-bar-item w3-button w3-right w3-hover-green w3-border-left w3-border-right" style="font-size: 14px"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;Welcome<b>&nbsp;{{ user.userid }}</b></a>
    {% else %}
    <a href="{% url 'user_login' %}" class="w3-hide-small w3-right w3-button w3-hover-green w3-border-right w3-border-left w3-margin-right" style="font-size: 14px"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Login</a>
    {% endif %}
  </font>
  </div>
  
  <div id="mobNav" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium w3-center w3-card w3-light-gray w3-animate-opacity">
    <a href="{% url 'query_page' %}" class="w3-bar-item w3-button w3-border-bottom"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;New Support Ticket</a>
    <a href="{% url 'status_page' %}" class="w3-bar-item w3-button w3-border-bottom"><i class="fa fa-heartbeat" aria-hidden="true"></i>&nbsp;Check Ticket Status</a>
    <a href="{% url 'faq_page' %}" class="w3-bar-item w3-button w3-border-bottom"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;F.A.Q</a>
    {% if user.is_authenticated %}
    <a href="javascript:{document.getElementById('logout').submit()}" class="w3-bar-item w3-button w3-border-bottom"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a>
    <form action="{% url 'logout' %}" method="POST" id="logout">
        {% csrf_token %}
        <input type="hidden">
      </form>
    {% else %}
    <a href="{% url 'user_login' %}" class=" w3-bar-item w3-button w3-border-bottom"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Login</a>
    {% endif %}
    <a href="{% url 'about' %}" class=" w3-bar-item w3-button w3-border-bottom"><i class="fa fa-address-card" aria-hidden="true"></i>&nbsp;About Us</a>
  </div>
  <!-- Navbar End -->