{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'About_Page/css/main.css' %}" />

<!-- About Body Start -->
<div class="w3-container w3-center w3-margin">
    <h1>Abo<u>ut Us</u></h1>
    <p>
        Some Text Some Text Some Text Some Text Some Text Some Text Some Text Some Text Some Text Some Text Some Text Some Text
    </p>
   <h2>Who We Are</h2>
    <p>
        We are Btech Student of CSE/IT.
        From Ipu & DTU.
    </p>
</div>

<div class="w3-row-padding">
    <div class="w3-col l2" style="color:white">1</div>
    <div class="w3-col l8" style="border:3px solid rgb(168, 167, 167);">
        <div class="w3-container w3-center">
            <h2><u>OUR TEAM</u></h2>
        </div>
        <div class="w3-row-padding w3-margin w3-padding">
            <div class="w3-container w3-card-4 w3-margin-bottom w3-padding w3-margin-right card" >
                <img src="{% static 'images/No_image.png' %}" style="width:100%; height:100%;" />
                <div class="w3-container w3-center">
                    <h3>Name</h3>
                    <p>
                        Software trainee
                        <br />Student at (Name_College)
                    </p>
                </div>
            </div>
            <div class="w3-container w3-card-4 w3-margin-bottom w3-padding w3-margin-right card" >
                <img src="{% static 'images/No_image.png' %}" style="width:100%; height:100%;" />
                <div class="w3-container w3-center">
                    <h3>Name</h3>
                    <p>
                        Software trainee
                        <br />Student at (Name_College)
                    </p>
                </div>
            </div>

            <div class="w3-container w3-card-4 w3-margin-bottom w3-padding card" >
                <img src="{% static 'images/No_image.png' %}" style="width:100%; height:100%;" />
                <div class="w3-container w3-center">
                    <h3>Name</h3>
                    <p>
                        Software trainee
                        <br />Student at (Name_College)
                    </p>
                </div>
            </div>
        </div>
        <div class="w3-row-padding w3-margin w3-padding">

            <div class="w3-container w3-third w3-card-4 w3-margin-bottom w3-padding w3-margin-right card">
                <img src="{% static 'images/No_image.png' %}" style="width:100%; height:100%;" />
                <div class="w3-container w3-center">
                    <h3>Name</h3>
                    <p>
                        Software trainee
                        <br />Student at (Name_College)
                    </p>
                </div>
            </div>

            <div class="w3-container w3-third w3-card-4 w3-margin-bottom w3-padding w3-margin-right card" >
                <img src="{% static 'images/No_image.png' %}" style="width:100%; height:100%;" />
                <div class="w3-container w3-center">
                    <h3>Name</h3>
                    <p>
                        Software trainee
                        <br />Student at (Name_College)
                    </p>
                </div>
            </div>

            <div class="w3-container w3-third w3-card-4 w3-margin-bottom w3-padding card">
                <img src="{% static 'images/No_image.png' %}" style="width:100%; height:100%;" />
                <div class="w3-container w3-center">
                    <h3>Name</h3>
                    <p>
                        Software trainee
                        <br />Student at (Name_College)
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="w3-col l2" style="color:white">1</div>
</div>
<!-- About Body End -->

{% endblock %}